<div class="img">
    <img src="mickey.jpg" alt="" style="width: ">
</div>
<div class="img">
    <img src="mickey2.jpeg" alt="" style="width: ">
</div>
<div class="img">
    <img src="mickey3.jpg" alt="" style="width: ">
</div>
<div>
    <ul>
        <li>{{mickey.username}}</li>
        <li>{{mickey.age}} y/o</li>
        <li>{{mickey.gender}}</li>
        <li>interests: {{mickey.interests}}</li>
        <li>preferred sex: {{mickey.preferredSex}}</li>
        <li>contact: {{mickey.email}}</li>
    </ul>
</div>

<a href="/myHomePage">go back to home page</a>
    <style>
        .img{
            display: inline-block;
            border: black solid px;
            margin:2%;
        }
    </style>