<div class="img">
    <img src="minnie.jpg" alt="" style="width: ">
</div>
<div class="img">
    <img src="minnie2.png" alt="" style="width: ">
</div>
<div class="img">
    <img src="minnie3.jpeg" alt="" style="width: ">
</div>
<div>
    <ul>
        <li>{{minnie.username}}</li>
        <li>{{minnie.age}} y/o</li>
        <li>{{minnie.gender}}</li>
        <li>interests: {{minnie.interests}}</li>
        <li>preferred sex: {{minnie.preferredSex}}</li>
        <li>contact: {{minnie.email}}</li>
    </ul>
</div>

<style>
        .img{
            display: inline-block;
            border: black solid px;
            margin:2%;
        }
</style>